<section class="footerBG py-5">
    <div class="container">
        <div class="row">
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <p class="text-white h4 fw-bold">Spread the Word</p>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <p class="text-white h4 fw-bold">Useful Links</p>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <p class="text-white h4 fw-bold">Contact Us</p>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <img src="../../../assets/images/ACNC.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>