.addHeading {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
}

.cardHeading {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
}

.selectedShadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}