<section class="py-5" id="draggable-section">
    <div class="container">
        <div *ngIf="remembrances.length > 0; else noData" class="row">
            <div class="col-md-1 text-center" *ngFor="let remembrance of remembrances">
                <img *ngIf="remembrance.rem_symbol" [src]="baseURL + remembrance.rem_symbol" alt="Remembrance Symbol" class="remembrance-img" (click)="toggleDetails(remembrance)">
                
                <div *ngIf="selectedRemembrance === remembrance" class="remembrance-details position-fixed bg-dark text-white p-3 rounded shadow z-10">
                    <h5 class="text-truncate">{{ remembrance.first_name }} {{ remembrance.last_name }}</h5>
                    <p class="text-truncate">Email: {{ remembrance.email }}</p>
                    <p class="mb-0 text-truncate">Message: {{ remembrance.tribute_message }}</p>
                </div>
            </div>
        </div>
        
        <ng-template #noData>
            <p>No remembrances found.</p>
        </ng-template>
    </div>    
</section>