<section class="py-4" id="draggable-section" [ngClass]="{ dragging: isDragging, noselect: isDragging }" [ngStyle]="{
    backgroundImage: 'url(/assets/images/drag_bg.jpg)',
    backgroundPosition: backgroundPositionX + 'px ' + backgroundPositionY + 'px',
    backgroundSize: 'cover'
  }" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp()"
    (mouseleave)="onMouseUp()" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd()">
    <div class="container-fluid position-relative" style="height: 100vh; width: 100vw;">
        <div class="draggable-grid d-flex align-items-center flex-wrap text-center" [ngStyle]="{
        transform: 'translate(' + contentPositionX + 'px, ' + contentPositionY + 'px)',
        transition: isDragging ? 'none' : 'transform 0.3s ease'
      }">
            <div class="remembrance-item" *ngFor="let remembrance of remembrances"
                (mouseenter)="selectedRemembrance = remembrance" (mouseleave)="selectedRemembrance = null">
                <img *ngIf="remembrance.rem_symbol" [src]="baseURL + remembrance.rem_symbol"
                    [alt]="remembrance.rem_symbol" class="remembrance-img" />

                <div *ngIf="selectedRemembrance === remembrance"
                    class="remembrance-details text-white p-3 rounded shadow z-3 text-start">
                    <p class="mb-1">In memory of <b class="text-uppercase">{{ remembrance.tribute_memory }}</b></p>
                    <p class="mb-2">{{ remembrance.tribute_message }}</p>
                    <p class="mb-0">Submitted by: {{ remembrance.first_name }} {{ remembrance.last_name }}</p>
                </div>
            </div>
        </div>
    </div>
</section>