section {
    position: relative;
    width: 100%;
    height: 100vh;
    cursor: grab;
    background: #7CA235;

    &.dragging {
        cursor: grabbing;
    }

    @media (max-width: 500px) {
        height: 100vh;
    }
}

#draggable-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    cursor: grab;
    background-repeat: no-repeat;
    background-size: 100% 100%; // Updated to ensure background stretches properly
    background-position: center;

    &.dragging {
        cursor: grabbing;
    }

    .full-container {
        height: 100vh;
        width: 100vw;
    }

    .draggable-grid {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        justify-content: center;

        @media (max-width: 500px) {
            width: 200%;
        }
    }

    .remembrance-item {
        width: 100px;
        height: 100px;
        position: relative;

        @media (max-width: 500px) {
            width: 75px;
            height: 85px;
        }
    }
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.remembrance-img {
    cursor: pointer;
    width: 50px;
    transition: transform 0.3s ease-in-out;
    transform: scaleY(0.7);
    transform-origin: center;

    @media (max-width: 500px) {
        width: 40px;
    }
}

.remembrance-img:hover {
    transform: scale(0.8);
}

.remembrance-details {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    width: 300px;
    margin-top: 10px;
    z-index: 3;

    &::after {
        content: "";
        position: absolute;
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgba(0, 0, 0, 0.9);
    }

    @media (max-width: 500px) {
        width: 65vw;
        top: 90%;
        left: 49.5%;
        transform: translateX(-50%);
        font-size: 14px;
        padding: 1rem;
    }
}

/* Spinner Loader */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Make scroll smoother visually */
.draggable-grid {
    transition: transform 0.2s ease-out !important;
}