.mainDrag {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    cursor: grab;
    touch-action: none;
    background-color: #000;

    user-select: none;
    -webkit-user-drag: none;
    touch-action: none;

    @media (max-width: 500px) {
        .mainDrag {
            cursor: default; // Grab cursor not needed on touch
        }
    }

    .draggable-container {
        transition: transform 0.2s ease-out;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: top left;
        background-image: url("../../../assets/images/drag_bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        @media (max-width: 768px) {
            background-size: contain;
            background-repeat: round;
        }
    }

    .remembrance-item {
        width: 100px;
        height: 100px;
        display: inline-block;
        position: relative;
        pointer-events: auto;

        @media (max-width: 768px) {
            width: 80px;
            height: 80px;
        }

        .remembrance-img {
            width: 50px;
            transform: scaleY(0.6);
            pointer-events: none;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(0.8);
            }

            @media (max-width: 768px) {
                width: 40px;
            }
        }
    }

    .remembrance-details {
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.9);
        width: 300px;
        z-index: 3;

        &::after {
            content: '';
            position: absolute;
            top: -8px;
            left: 50%;
            transform: translateX(-50%);
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid rgba(0, 0, 0, 0.9);
        }

        @media (max-width: 768px) {
            width: 65vw;
            font-size: 14px;
            padding: 1rem;
        }
    }
}

.drag-controls {
    bottom: 20px;
    right: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;

    button {
        width: 40px;
        height: 40px;
        font-size: 16px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            width: 32px;
            height: 32px;
            font-size: 14px;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}